/*
	ZeroFour 2.5 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		min-width: 1200px;
	}

	body.left-sidebar
	{
	}

		body.left-sidebar #sidebar
		{
			margin-right: 1.5em;
		}

	body.right-sidebar
	{
	}

		body.right-sidebar #sidebar
		{
			margin-left: 1.5em;
		}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar h2
	{
		font-size: 1.5em;
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		padding: 4em 0 0 0;
		height: 15em;
		background-attachment: fixed;
	}

		body.homepage #header-wrapper
		{
			height: 43em;
		}

	#banner-wrapper
	{
	}

	#main-wrapper
	{
	}

		#main-wrapper .main-wrapper-style1,
		#main-wrapper .main-wrapper-style2,
		#main-wrapper .main-wrapper-style3
		{
			padding: 7em 0 7em 0;
		}

	#footer-wrapper
	{
		padding: 7em 0 7em 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		border-radius: 10px;
		background: rgba(255,255,255,0.10);
		padding: 0.75em;
	}

		#header .inner
		{
			position: relative;
			height: 5.5em;
			background-image: -moz-linear-gradient(top, rgba(35, 116, 159, 0.3), rgba(38,38,38,0.9));
			background-image: -webkit-linear-gradient(top, rgba(35, 116, 159, 0.3), rgba(38,38,38,0.9));
			background-image: -o-linear-gradient(top, rgba(35, 116, 159, 0.3), rgba(38,38,38,0.9));
			background-image: -ms-linear-gradient(top, rgba(35, 116, 159, 0.3), rgba(38,38,38,0.9));
			background-image: linear-gradient(top, rgba(35, 116, 159, 0.3), rgba(38,38,38,0.9));
			border-radius: 8px;
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 2px 1px 0px rgba(255,255,255,0.2);
			text-shadow: -1px -1px 0 rgba(0,0,0,1);
		}

		#header h1
		{
			position: absolute;
			left: 1.75em;
			top: 50%;
			margin-top: -0.65em;
			font-size: 1.5em;
			color: #fff;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		right: 2em;
		top: 0;
		line-height: 5.5em;
	}

		#nav > ul > li
		{
			float: left;
			padding: 0 0.8em 0 0.8em;
		}

			#nav > ul > li > a,
			#nav > ul > li > span
			{
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 800;
				font-size: 0.95em;
				letter-spacing: 0.075em;
				padding: 0.5em 0.8em 0.5em 0.8em;
				border-radius: 6px;
				outline: 0;
			}

				#nav > ul > li.active > a,
				#nav > ul > li.current_page_item > a,
				#nav > ul > li.active > span,
				#nav > ul > li.current_page_item > span
				{
					background: rgba(0,0,0,0.15);
					box-shadow: inset 1px 1px 0px 0px rgba(0,0,0,0.025), 1px 1px 0px 0px rgba(255,255,255,0.025);
				}

			#nav > ul > li:last-child
			{
				padding-right: 0;
			}

		#nav > ul > li > ul
		{
			display: none;
		}

	.dropotron
	{
		position: relative;
		background-image: -moz-linear-gradient(top, rgba(38,38,38,0.95), rgba(59,59,59,0.95));
		background-image: -webkit-linear-gradient(top, rgba(38,38,38,0.95), rgba(59,59,59,0.95));
		background-image: -o-linear-gradient(top, rgba(38,38,38,0.95), rgba(59,59,59,0.95));
		background-image: -ms-linear-gradient(top, rgba(38,38,38,0.95), rgba(59,59,59,0.95));
		background-image: linear-gradient(top, rgba(38,38,38,0.95), rgba(59,59,59,0.95));
		border-radius: 8px;
		box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 0px 2px rgba(255,255,255,0.075), inset 0px 2px 1px 0px rgba(255,255,255,0.2), 0px 4px 4px 0px rgba(0,0,0,0.5);
		text-shadow: -1px -1px 0 rgba(0,0,0,1);
		padding: 1.5em;
		line-height: 2.5em;
		min-width: 15em;
	}

		.dropotron.level-0
		{
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin-top: -2px;
			box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.5), inset 0px 0px 0px 2px rgba(255,255,255,0.075), 0px 4px 4px 0px rgba(0,0,0,0.5);
		}

		.dropotron a,
		.dropotron span
		{
			color: #aaa;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 800;
			font-size: 0.8em;
			letter-spacing: 0.075em;
			outline: 0;
		}

		.dropotron li:hover > a,
		.dropotron li:hover > span
		{
			color: #fff;
		}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		width: 940px;
		margin: 0 auto;
		padding: 5em 0 0 0;
		overflow: hidden;
	}

		#banner h2
		{
		}

		#banner p
		{
			float: left;
			text-align: right;
			width: 60%;
			line-height: 1.5em;
		}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
	}