                <div class="main-wrapper-style2" id="presentacion">
                    <div class="inner">

                        <!-- Feature 2 -->
                            <section class="container box-feature2">
                                <div class="row">
                                    <div class="12u">


                                        <h2>¡Qué intensa experiencia vivimos en AAVLA 2020!</h2>

                                        <p><a href="archivos/Resultados_AAVLA_2020.pdf" target="_blank" class="button medium fa fa-arrow-circle-o-right">TIEMPOS GENERALES</a></p>

                                        <p>La semana comenzó invadida por la incertidumbre que el pronóstico predecía. Por más que tuviéramos la mirada más positiva, los números no cambiaban. Ya vivimos una situación en la que tuvimos que tomar la difícil decisión de postergar la carrera.</p>

                                        <p>Con el asesoramiento de la delegación angosturense de Prefectura Naval Argentina, la idea de cambiar los recorridos empezó a tomar forma.</p>

                                        <p>En 3 días, trabajamos para definir los nuevos recorridos. Las distancias tuvieron que acortarse pero sabíamos que el desafío iba a ser el viento.</p>

                                        <p>A la largada de los 11 km le tocó aguas calmas. Los nadadores contaban con puestos de hidratación durante la carrera.</p>

                                        <p>Terminada la acreditación del sábado, se dispuso de iniciar las carreras de 400m infantiles y bautismo de 400 metros. Y así comenzó a sonar la campana nuevamente.</p>

                                        <p>Luego empezaron a llegar los nadadores de 11 km. Todos los toques de campana también tocan el corazón, y a varios de los nadadores se los vio emocionados al llegar.</p>
                                        <p>Mientras, se dio inicio a la carrera infantil de 800m sobre la margen izquierda de la playa. Seguramente estos nadadores disfrutaron del fondo de junco de la costa.</p>
                                        <p>Con la llegada del último nadador de 11 km se dio lugar a la carrera de 3.800m. Esta vez no se pudo dar vuelta a una isla pero el trayecto incluía bahías y penínsulas. El viento empezó a amenazar y seguro que hubo plegarias al cielo para que no se desatara lo que el pronóstico traía.</p>

                                        <img src="images/aavla2020-5.jpg" style="width: 100%;">

                                        <p>Aprovechamos y dimos inicio a la prueba familiar. En esta oportunidad nos acompañaron los integrantes del Creciendo entre Todos de Villa La Angostura quienes están aprovechando el espacio de una pileta local para realizar actividades de rehabilitación gracias a la intervención de AAVLA. Fue muy emotivo ver su desempeño y progreso. Todos dieron su toque de campana.</p>
                                        <p>Finalmente, cuando las aguas estaban un poco turbulentas, dimos inicio a la última carrera de 1500 m. Fue el momento más crítico en cuanto a oleaje. Sin embargo, los nadadores de aguas abiertas sacaron su tenacidad y completaron el trayecto.</p>
                                        <p>Todos acordaron que el agua estaba divina, pero la salida fue fresca.</p>
                                        <p>Muchos agradecimientos: a nuestros patrocinadores que nos apoyan año tras año y que nos permiten contagiarlos con nuestro espíritu de solidaridad, al personal de alimentación saludable quienes estuvieron a cargo del puesto de hidratación en costa, a los vecinos que colaboraron en la acreditación el viernes por la tarde y el sábado por la mañana (mamás de jóvenes nadadores, directora y docente del Jardín Frutillitas), a los kayakistas locales, a la escuela de kayak de San Martín de los Andes por la seguridad, a los bomberos y al hospital por brindar sus unidades de emergencia, a Prefectura Naval Argentina, a la Administración de Parques Nacionales por asesorarnos en el disfrute de la naturaleza sin dañar el medio ambiente, a la policía que ayudó en el orden de tránsito, a las embarcaciones locales, especialmente a Buceo Patagonia como lancha líder del sistema de seguridad contando con un buzo de rescate a bordo, al Grupo de Rescate en Zonas Agrestres a cargo de la seguridad en tierra, a la Municipalidad de Villa la Angostura y el Centro de Convenciones, a las integrantes de Salud en Movimiento quienes malcrían a los nadadores con el guiso, a Noelia Petti (nuestra madrina) por su asesoramiento a distancia en las partes técnicas, a Sofía que estuvo de fotógrafa y que no nadó ninguna carrera pero que confesó haberse desmayado en la siesta y a todas aquellas personas que aportaron su granito de arena con tareas puntuales (armado de kit, puestos de hidratación en los 11Km) pero que permitieron que contra el pronóstico, la jornada saliera bien.</p>
                                        <p>Con el cambio de recorridos, conocimos otros recovecos del Lago Espejo. Conocimos un Lago Espejo desafiante.</p>
                                        <p>Finalizamos temprano, corridos por el viento, por supuesto. A las 13:00 todos habían entrado y salido del agua. Hubo quienes se quedaron un poco más para sacarse fotos subacuáticas.</p>
                                        <p>Especial mención a todos ustedes nadadores que nos acompañan y que vienen de cerca, de no tan cerca y de lejos. Los esperamos en la próxima.</p>


                                    </div>
                                </div>
                            </section>

                            <div class="row">
                                <div class="6u">
                                    <div class="image image-full"><img  src="images/aavla2020.jpg" alt="AAVLA 2020" /></div>
                                </div>
                                <div class="6u">
                                    <div class="image image-full"><img  src="images/campus2020.jpg" alt="Campus Noelia 2020" /></div>
                                </div>
                            </div>


                    </div>
                </div>
