<header class="major">
    <h2>Estos son los TIEMPOS de nuestra carrera AAVLA 2016 gracias a cronometrajeinstantaneo.com</h2>
</header>

    <p>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla2016/carreras" target="_blank">TIEMPOS GENERALES</a><br>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla2016/categorias" target="_blank">TIEMPOS POR CATEGORIAS</a><br>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla2016/hombres" target="_blank">TIEMPOS GENERAL HOMBRES</a><br>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla2016/mujeres" target="_blank">TIEMPOS GENERAL MUJERES</a><br><br>
        Date una vuelta por nuestro <a href="//facebook.com/aguasabiertasvillalaangostura" target="_blank">facebook.com/aguasabiertasvillalaangostura</a> que vamos a ir subiendo las fotos y videos del evento
    </p>
