                <div class="main-wrapper-style2" id="presentacion">
                    <div class="inner">

                        <!-- Feature 2 -->
                            <section class="container box-feature2">
                                <div class="row">
                                    <div class="12u">
                                        <section>
                                            <header class="major">

<p align="center">
                <h2><strong>¡QUÉ INCREÍBLE FUE ESTE DÍA!</strong></h2>
<p>El día arrancó temprano cuando a las 7 de la mañana los nadadores de los 11km se empezaron a juntar en la "bahía del guardapartes" del lago Espejo, calentando y empezando a prepararse para el gran día. A las 8:07 ya estaban todos listos y el evento arrancó con los 11 nadadores enfrentando el gran desafío.</p>
<p>Mientras tanto la bruma seguía en la playa donde ya los empezábamos a esperar y donde el resto de los nadadores se empezaban a acreditar.</p>
<p>A las 2:24:28 de carreras llegó el ganador de los 11km, el local Matías Campi, que por más que era el favorito, no dejó de impresionar con su tiempo y su llegada. Unos metros más tarde la madrina de AAVLA, Noelia Petti, llegó con 2:29:10 en el marcador. Y para completar el podio de los 11km en 3° lugar llegó Conrado Tognetti con un tiempo de 2:33:24.</p>
<p>Mientras los nadadores de 11km seguían llegando, pudimos ver el trabajo del programa "Playas accesibles" donde Ariel nos mostró sus avances, junto a su entrenador Diego.</p>
<p>También pudimos ver como Alex guiaba a Pepe, un nadador no vidente que está dando sus primeros pasos en este hermoso mundo de las aguas abiertas.</p>
<p>Lo que Ariel y Pepe nos hicieron vivir, fueron unos momentos mágicos que no podemos describir con palabras.</p>
<p>Le siguieron las carreras de 800m donde los valientes infantiles se animaron a comenzar con las carreras que largaban desde esta playa, frente a todo el público que los alentaba.</p>
<p>Junto a los 800m se vino la prueba familiar de 100m con un montón de familias disfrutando del lago. También la carrera de 400m con una gran convocatoria de chicos de entre 9 y 11 años, y nuestro ya conocido bautismo, esta vez de 600m donde los nadadores, acompañados por familiares y amigos se animaron a pasar el veríl y nadar hasta una boya ubicada a 300m de la playa.</p>
<p>Y llegó el gran momento, los 93 nadadores de 3800m ya estaban listos. Charla técnica, conteo regresivo y todos al agua. Hermosa salida con una cantidad impresionante de nadadores en esta carrera.</p>
<p>Unos minutos después, ansiosos de ver tanta gente en el agua, esperaban los 71 nadadores de 1500m que eran los únicos que no habían empezado. Charla técnica, conteo regresivo y al agua.</p>
<p>Y el momento donde teníamos a todos nadando, todo el equipo de seguridad trabajando, la playa llena y la insertidumbre a flor de piel, ya había arrancado.</p>
<p>Pasando los tres cuartos de hora, comenzaron a llegar los nadadores de 1500m, siendo Gabriel Gómez de la ciudad de Bariloche el primero en tocar la campana. Le siguió Maia Aloy sorprendiendo a todos con sus 12 años y excelente desempeño. En 3° lugar llegó Juan Pablo Salio complentando el podio de esta carrera.</p>
<p>Luego de algunos pocos nadadores más de 1500m, llegó Ezequiel Ortiz de la ciudad de Bariloche para abrir la llegada de los nadadores de 3800m, recibiendo el primer lugar con sus 50:35 de tiempo. El próximo en tocar la campana de 3800m fue Nuria Alen Olavarría con 50:42 y la tercera Valentina Micaela Plancic de la ciudad vecina de San Martín de los Andes, todos chicos pertenecientes a las categorías de 15 a 24 años.</p>
<p>El día estuvo lleno de emociones y 200 nadadores de toda la Argentina, de Chile y hasta de Portugal, pudieron nadar en nuestro lago, disfrutar del deporte y conocer el proyecto solidario de la ONG sin fines de lucro Aguas Abiertas Villa la Angostura.</p>
<p>El resultado de este evento será convertido en proyectos solidarios durante el 2018, entre los cuales habrá muchos chicos que aprenderan a nadar, otros a remar en kayak y todos podremos disfrutar del entorno natural de forma más segura.</p>
<p>
        <a href="https://www.facebook.com/pg/aguasabiertasvillalaangostura" target="_blank">MUCHAS FOTOS Y VIDEOS EN NUESTRO FACEBOOK</a><br>
</p>
                <h2>Estos son todos los TIEMPOS de AAVLA 2018 gracias a cronometrajeinstantaneo.com</h2>
    <p>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla-2018/carreras" target="_blank">TIEMPOS GENERALES</a><br>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla-2018/categorias" target="_blank">TIEMPOS POR CATEGORIAS</a><br>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla-2018/hombres" target="_blank">TIEMPOS GENERAL HOMBRES</a><br>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla-2018/mujeres" target="_blank">TIEMPOS GENERAL MUJERES</a><br>
    </p>

    <div class="image image-full"><img  src="images/aavla2018.jpg" alt="AAVLA 2018" /></div>
<div class="row">
    <div class="6u">
        <div class="image image-full"><img  src="images/aavla2018-2.jpg" alt="AAVLA 2018" /></div>
    </div>
    <div class="6u">
        <div class="image image-full"><img  src="images/aavla2018-3.jpg" alt="AAVLA 2018" /></div>
    </div>
</div>

                                        </section>
                                    </div>
                                </div>
                            </section>

                    </div>
                </div>
