<div class="main-wrapper-style2" id="presentacion">
    <div class="inner">

        <!-- Feature 2 -->
            <section class="container box-feature2">
                <div class="row">
                    <div class="12u">
                        <section>
                            <header class="major">
                            <h2>Se viene AAVLA 2022</h2>

                            <p>
                                <!-- <a href="https://www.cronometrajeinstantaneo.com/inscripciones/aavla-2022" target="_blank" class="button medium fa fa-arrow-circle-o-right">Inscribite</a><br> -->
                                <ul>
                                    <li><a href="#basica">Información básica</a></li>
                                    <li><a href="#categorias">Categorías y recorridos</a></li>
                                    <li><a href="#obligatorio">Requerimientos obligatorios</a></li>
                                    <li><a href="#seguridad">Protocolo de seguridad</a></li>
                                    <li><a href="#cronograma">Cronograma</a></li>
                                    <li><a href="#mas">Más información</a></li>
                                    <!-- <li><a href="#alojamiento">Alojamiento en Albergue Municipal</a></li> -->
                                    <li><a href="faq">Preguntas frecuentes</a></li>
                                </ul>
                            </p>
                            </header>

<h3 id="basica">Información básica</h3>
<p style="text-align:justify">
<strong>Lugar</strong>: BALNEARIO LAGO ESPEJO, Villa la Angostura, Neuquén, Patagonia Argentina.<br />
<strong>Fecha</strong>: Sábado 12 de Febrero del 2022.<br />
<strong>Tipo de Evento</strong>: CARRERA DE NATACIÓN DE AGUAS ABIERTAS.<br />
<strong>Cierre de inscripción</strong>: Jueves 10 de Febrero del 2022 a las 12:00 hs. o hasta completar el cupo máximo de participantes.<br />
<strong>Cupos limitados</strong>: 220 nadadores en total para todas las carreras y bautismos.<br />
<strong>Suspensión</strong>: No se suspende por frío o lluvia, salvo que el Director de la Carrera, el Coordinador de la Seguridad o Prefectura Naval Argentina consideren que existe algún peligro para los nadadores.<br />
<!-- <strong>Reglamento del evento</strong>: Todos los participantes que se inscriben aceptan <a target="_blank" href="https://drive.google.com/file/d/1Z3s1UkGzLg-H-87eRGpt3EBXZDZIsOUQ/view?usp=sharing">el reglamento del evento</a>.<br /> -->

<strong>Consentimiento de Riesgo</strong>: Todos los nadadores firmarán el consentimiento de riesgo (<a target="_blank" href="https://docs.google.com/document/d/17gYysN17gZH9T9x-s7eTycUACGr4wvwWEEROIQN24hQ/edit?usp=sharing">Descargar consentimiento de riesgo</a>).<br />
</p>

<h3 id="categorias">Categorías y recorridos</h3>
<p align="justify">
El evento cuenta con 6 carreras: para los infantiles una de 400m y otra de 800m; para los adultos una de 1500m, otra de 3800m y la gran carrera de 10km; además tenemos un bautismo de adultos de 600m. Se muestra una tabla los detalles de las categorías. Se muestran los recorridos según los colores de la tabla de categorías.<br />

<table style="height: 137px; width: 100%;" border="1">
<thead><tr><td>Nombre carrera</td><td>Costo</td><td>Incluye</td><td>Categorías y premiación (1º, 2º y 3º)</td></tr></thead>
<tbody>
<tr>
<td style="font-weight: bold; color: black; background-color: #02bcaf;">Carrera adultos 10km</td><td>$8700,00</td><td>Seguro, almuerzo, gorro, medalla finisher y amenities</td>
<td>General<br>General Femenino<br>General Masculino</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: red;">Carrera adultos 3800m</td>
<td>$5900,00</td>
<td>Seguro, almuerzo, gorro, y medalla finisher y amenities</td>
<td>Podio General<br>Femenino: 15-24, 25-34, 35-44, 45-54, 55+<br>Masculino: 15-24, 25-34, 35-44, 45-54, 55+</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: orange;">Carrera adultos 1500m</td>
<td>$5900,00</td>
<td>Seguro, almuerzo, gorro, y medalla finisher y amenities</td>
<td>Podio General<br>Femenino: 15-24, 25-34, 35-44, 45-54, 55+<br>Masculino: 15-24, 25-34, 35-44, 45-54, 55+</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: yellow;">Bautismo adultos 600m</td>
<td>$2800,00</td>
<td>Seguro, almuerzo, gorro y medalla finisher</td>
<td>Sin premiación</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: yellow;">Carrera infantiles 800m</td>
<td>$2800,00</td>
<td>Seguro, almuerzo, gorro, y medalla finisher y amenities</td>
<td>Mixto: 9-10, 11-12, 13-14</td></tr>
</tr>
<tr><td style="font-weight: bold; color: black; background-color: green;">Carrera infantiles 400m</td>
<td>$2800,00</td>
<td>Seguro, almuerzo, gorro, y medalla finisher y amenities</td>
<td>Mixto: 9-10, 11-12, 13-14</td></tr>
<!--
<tr><td style="font-weight: bold; color: black; background-color: blue;">Prueba familiar 100m</td>
<td>$0,00</td>
<td>Medalla (sin seguro)</td>
<td>Todas las edades</td></tr>
-->
</tbody>
</table>
<p align="justify">
<!-- <div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/video.php?v=846304095392027" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/video.php?v=846304095392027">Publicación</a> de <a href="https://www.facebook.com/aguasabiertasvillalaangostura">Aguas Abiertas Villa la Angostura</a>.</div></div><br><br> -->
<img src="archivos/2015_recorridos.jpg" style="width: 100%;">
<img src="archivos/recorrido_10km.jpg" style="width: 100%;">
</p>

<h3 id="obligatorio">Requerimientos obligatorios</h3>
<p align="justify">
<strong>Requerimientos Obligatorios para las carreras y el bautismo de adultos</strong>: Uso de gorra y traje de neoprene (puede ser traje corto). Haber completado la inscripción y tener un número de nadador antes del cierre de la inscripción.<br />
<br />

<strong>Recomendaciones útiles (NO obligatorias)</strong>: Llevar carnet de la obra social. Llevar antiparras y silbato para agua. En esta zona nunca se sabe el clima hasta una semana antes así que por las dudas lleven abrigo. Los bautismos pueden ir con aletas, torpedo y/o acompañante (sin embarcación ni kayak)<br />
<br />
</p>

<h3 id="seguridad">Protocolo de seguridad</h3>
<p align="justify">
A modo de resúmen del protocolo de seguridad, les contamos que el evento cumple con los estándares de seguridad de la Federación Internacional de Natación (FINA) para eventos de Aguas Abiertas de nivel internacional</strong>, por lo que contará con los siguientes dispositivos de seguridad: 1 coordinador de seguridad, 4 lanchas (1 cada 30 participantes en el agua) con timoneles habilitados, 8 kayaks de salvataje (1 cada 15 participantes en el agua) con kayakistas expertos en socorrismo, 4 kayaks más de observación, 5 socorristas y/o guardavidas distribuidos entre las lanchas y puntos específicos, 1 coordinar médico, 1 médico de base, 3 enfermeras, 2 bomberos expertos en salvataje, 2 ambulancias de alta complejidad, 2 carpas médicas (una abierta para atención rápida y otra cerrada para atenciones más complejas), coordinación con el Hospital Doctor Arraiz (con más ambulancias a disposición), todos los elementos médicos necesarios para una atención rápida, todos los elementos para una eficiente comunicación entre el personal, mantas térmicas suficientes, elementos de salvataje y varios ayudantes.<br /><br />

Además de la seguridad en la carrera, las planillas de inscripción piden muchos datos médicos, los cuales son procesados por un software para analizar el mapa de riesgo con cada uno de los participantes. Los participantes que mediante estos análisis tengan anotaciones u observaciones especiales, serán evaluados por el equipo médico antes de ingresar al agua.<br /><br />

Intivamos a cualquiera que esté interesado a contactarse con nosotros para acceder al protocolo completo y/o tener contacto con nuestro coordinador de seguridad.<br /><br />
</p>

<h3>COVID-19</h3>
<p align="justify">Solicitamos que los nadadores y acompañantes respeten la distancia y las indicaciones según los protocolos vigentes.</p>

<h3 id="cronograma">COVID-19</h3>

<strong><u>Viernes 11 de febrero</strong></u><br>
<strong>17:00 a 19:00</strong><br> Acreditación en Centro de Convenciones y charla técnica 10K<br>

<strong><u>Sábado 12 de febrero</strong></u><br>
<strong>8:00 am</strong><br> Largada 10K<br>
<strong>9:00 am</strong><br> Acreditaciones.<br>
Las acreditaciones se cierran minutos antes de comenzar la carrera.<br>
Arribar con anticipación ya que puede haber cambios de cronograma por factores climáticos.<br>
<strong>10:30 am</strong><br> Carrera infantil 400m<br>
Prueba familiar 100m<br>
<strong>11:00 am</strong><br>Carrera infantil 800 m (si hay participantes)<br>
Bautismo 600m<br>
Carrera 1500m<br>
Carrera 3800<br>
El cronograma puede tener cambios según la llegada de los competidores de 10K.<br>

<h3 id="mas">Más información</h3>
<p align="justify">
<strong>Horarios</strong>:Los horarios están sujetos a modificación según protocolo COVID-19.<br />


<strong>Incluido en el valor de la inscripción</strong>: el permiso para poder participar de la carrera o bautismo correspondiente (el lago permanecerá cerrado y con el acceso cortado a toda persona no inscripta), gorrito, un vale por un almuerzo, medalla para todos los nadadores que completen el recorrido dentro del tiempo máximo, premios para los nadadores de las carreras destacados de cada categoría (1º, 2º y 3º), Seguro de Responsabilidad Civil Comprensiva brindado por Grupo Asegurador La Segunda, Seguro Adicional Personal para cada uno de los nadadores, servicios de alta seguridad, coordinación y musicalización. Además de todo esto, al abonar la inscripción, está colaborando con decenas de chicos que no saben nadar y no tienen los medios para aprender, y que con lo recaudado van a poder disfrutar de este deporte y estar más seguros en los lagos de la zona.<br />
<br />

<strong>Para más información</strong>: Si tiene alguna consulta puede ver nuestras <a href="faq">Preguntas Frecuentes</a>. Si no encuentra una respuesta a su consulta, puede escribirnos en nuestro <a href="https://www.facebook.com/aguasabiertasvillalaangostura" target="_blank">Facebook</a> o a nuestro mail <a href="mailto:aguasabiertasvla@gmail.com" target="_blank">aguasabiertasvla@gmail.com</a> que con gusto le responderemos.<br /><br />
<strong>Inscripción</strong>: La única forma de inscripción es mediante el sistema de inscripción online de <a href="https://www.cronometrajeinstantaneo.com" target="_blank">cronometrajeinstantaneo.com</a>, que es totalmente automático y no intervienen personas en el proceso. Para que usted pueda realizarlo sin problemas, hay varios textos explicativos que le enseñan a usarlo y lo guían en el proceso. Es importante que lea toda la pantalla y siga las instrucciones.</p>
</p>


                            <footer>
                                <!-- <h2>Inscripciones CERRADAS por CUPO COMPLETO</h2> -->
                                <!-- <a href="http://www.cronometrajeinstantaneo.com/inscripciones/aavla-2022" target="_blank" class="button medium fa fa-arrow-circle-o-right">Inscribite</a> -->
                            </footer>

                        </section>
                    </div>
                </div>
            </section>

    </div>
</div>
