    <header class="major">
        <h2>Estos son los TIEMPOS de AAVLA 2015 gracias a cronometrajeinstantaneo.com</h2>
    </header>

        <p>
            <a href="http://cronometrajeinstantaneo.com/resultados/aavla2015/carreras" target="_blank">TIEMPOS GENERALES</a><br>
            <a href="http://cronometrajeinstantaneo.com/resultados/aavla2015/categorias" target="_blank">TIEMPOS POR CATEGORIAS</a><br>
            <a href="http://cronometrajeinstantaneo.com/resultados/aavla2015/hombres" target="_blank">TIEMPOS GENERAL HOMBRES</a><br>
            <a href="http://cronometrajeinstantaneo.com/resultados/aavla2015/mujeres" target="_blank">TIEMPOS GENERAL MUJERES</a><br><br>
            Date una vuelta por nuestro <a href="//facebook.com/aguasabiertasvillalaangostura" target="_blank">facebook.com/aguasabiertasvillalaangostura</a> para ver más fotos y videos del evento como este<br><br>
            <iframe width="640" height="480" src="https://www.youtube.com/embed/4BX_hrOrAkg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </p>
