                <div class="main-wrapper-style2" id="presentacion">
                    <div class="inner">

                        <!-- Feature 2 -->
                            <section class="container box-feature2">
                                <div class="row">
                                    <div class="12u">
                                        <section>
                                            <header class="major">
                                            <h2>¡Otro año de disfrutar! ¡Ya tuvimos nuestro AAVLA 2019!</h2>

                                            <div class="row">
                                                <div class="6u">
                                                    <div class="image image-full"><img  src="images/aavla2019.jpg" alt="AAVLA 2019" /></div>
                                                </div>
                                                <div class="6u">
                                                    <div class="image image-full"><img  src="images/campus2019.jpg" alt="Campus Noelia 2019" /></div>
                                                </div>
                                            </div>

                                            <hr>
<div class="row">
    <div class="12u">
        <h2 id="basica">Tuvimos un lindo calendario de actividades durante el 2018, miren todo lo que hicimos!</h2>
            <div class="image image-full"><img  src="images/calendario-aavla-2018.jpg" alt="AAVLA 2018" /></div>
        <h4>Seguinos en nuestra facebook para tener toda la información de estas actividades</h4>
    </div>
</div>
<br>

                                        </section>
                                    </div>
                                </div>
                            </section>

                    </div>
                </div>
