                <div class="main-wrapper-style2" id="presentacion">
                    <div class="inner">

                        <!-- Feature 2 -->
                            <section class="container box-feature2">
                                <div class="row">
                                    <div class="12u">
                                        <section>
                                            <header class="major">

<h3 id="basica">Terminó AAVLA 2017</h3>
<p align="center">
                <h2><strong>¡QUÉ HERMOSO EVENTO QUE VIVIMOS!</strong></h2>
<p>El 1º puesto de Aguas Abiertas Villa la Angostura 2017 en 47 minutos y 17 segundos quedó para el local Matías Campi, un nadador que vimos crecer desde chiquito, que comenzó con nuestro querido profe Beto y que hoy nos llena de orgullo.</p>
<p>Aunque no llegó solo, vimos una intensa disputa durante los últimos 500 metros con Ezequiel Ortiz de Bariloche, que en los últimos metros se chupó detrás de Mati y llego en escasos 12 segundos después de él.</p>
<p>Atrás de ellos en lugar de otro nadador de la carrera de 3800m, vino la gran campeona de los 1500m, Maive Olavarría también de Bariloche, que en 21 minutos y 47 segundos llegó olgada en el primer puesto de esta carrera.</p>
<p>La próxima en tocar la campana fue otra mujer, Nuria Olavarría también de Bariloche que completó el 3º puesto de la general de 3800m.</p>
<p>Completaron el podio de 1500m Marcos Arretche un nadador local con experiencia y Mayra Desantis que se vino desde Pilar para terminar con un tiempo de 25 minutos y 25 segundos.</p>
<p>Es muy notoria la superioridad de los jóvenes barilochenses que coparon los podios de las generales.</p>
<p>Luego de tener que correr la fecha del evento por intensos temporales en el día planeado, el clima nos compensó con un hermoso día de sol, un lago planchado que hizo honor a su nombre y un calor que invitaba a todos los presentes a disfrutar del agua.</p>
<p>El evento no fue solo carreras, comenzó bien temprano con bautismos para que chicos y adultos den sus primeras brazadas en aguas abiertas, una prueba familiar llena de familias y carreras de distintas distancias para chicos de todas las edades.</p>
<p>Pero hay algo que resaltó este día como pocas otras cosas. AAVLA tuvo el placer de poder colaborar con el Proyecto de Playas Accesibles de nuestra localidad y para mostrar el proyecto vinieron Diego Doucas y Ariel Hess. Fue un momento mágico que no podemos describir con palabras.</p>
<p>El día estuvo lleno de emociones y nadadores de toda la Argentina y de Chile pudieron nadar en nuestro lago, disfrutar del deporte y conocer el proyecto solidario de la ONG sin fines de lucro Aguas Abiertas Villa la Angostura.</p>
<p>El resultado de este evento será convertido en proyectos solidarios durante el 2017, entre los cuales habrá muchos chicos que aprenderan a nadar, otros a remar en kayak y todos podremos disfrutar del entorno natural de forma más segura.</p>

                <h2>Estos son todos los TIEMPOS de AAVLA 2017 gracias a cronometrajeinstantaneo.com</h2>
    <p>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla2017/carreras" target="_blank">TIEMPOS GENERALES</a><br>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla2017/categorias" target="_blank">TIEMPOS POR CATEGORIAS</a><br>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla2017/hombres" target="_blank">TIEMPOS GENERAL HOMBRES</a><br>
        <a href="http://cronometrajeinstantaneo.com/resultados/aavla2017/mujeres" target="_blank">TIEMPOS GENERAL MUJERES</a><br>
    </p>

                                        </section>
                                    </div>
                                </div>
                            </section>

                    </div>
                </div>
