<div class="main-wrapper-style2" id="presentacion">
    <div class="inner">

        <!-- Feature 2 -->
            <section class="container box-feature2">
                <div class="row">
                    <div class="12u">
                        <section>
                            <header class="major">
                            <h2>Así se vivió AAVLA 2021</h2>

                            <p><a href="https://drive.google.com/drive/folders/1mMa3bfZx0J9Ry4tjyNRGrJcEqgDruUX8" target="_blank" class="button medium fa fa-arrow-circle-o-right">FOTOS</a></p>

                            <div class="responsive-video">
                                <iframe src="https://drive.google.com/file/d/1JI9GwvjApEkuwdmcxfsrIY4_LnMZchHS/preview" frameborder="0"></iframe>
                            </div>

                        </section>
                    </div>
                </div>
            </section>

    </div>
</div>
