                <div class="main-wrapper-style2" id="presentacion">
                    <div class="inner">

                        <!-- Feature 2 -->
                            <section class="container box-feature2">
                                <div class="row">
                                    <div class="12u">
                                        <section>
                                            <header class="major">
                                            <h2>Se viene AAVLA 2020</h2>
                                            <!-- <h2><strong>CUPOS COMPLETOS<br>LAS INSCRIPCIONES CERRADAS</strong></h2> -->

                                            <p>
                                                <a href="https://www.cronometrajeinstantaneo.com/inscripciones/aavla-2020" target="_blank" class="button medium fa fa-arrow-circle-o-right">Inscribite</a><br>
                                                <ul>
                                                    <li><a href="#basica">Información básica</a></li>
                                                    <li><a href="#categorias">Categorías y recorridos</a></li>
                                                    <li><a href="#obligatorio">Requerimientos obligatorios</a></li>
                                                    <li><a href="#seguridad">Protocolo de seguridad</a></li>
                                                    <li><a href="#mas">Más información</a></li>
                                                    <!-- <li><a href="#alojamiento">Alojamiento en Albergue Municipal</a></li> -->
                                                    <li><a href="faq">Preguntas frecuentes</a></li>
                                                </ul>
                                            </p>
                                            </header>

<h3 id="basica">Información básica</h3>
<p style="text-align:justify">
    <strong>Lugar</strong>: BALNEARIO LAGO ESPEJO, Villa la Angostura, Neuquén, Patagonia Argentina.<br />
    <strong>Fecha</strong>: Sábado 15 de Febrero del 2020.<br />
    <strong>Tipo de Evento</strong>: CARRERA DE NATACIÓN DE AGUAS ABIERTAS.<br />
    <strong>Cierre de inscripción</strong>: Viernes 14 de Febrero del 2020 a las 12:00 hs. o hasta completar el cupo máximo de participantes.<br />
    <strong>Cupos limitados</strong>: 200 nadadores en total para todas las carreras y bautismos.<br />
    <strong>Suspensión</strong>: No se suspende por frío o lluvia, salvo que el Director de la Carrera, el Coordinador de la Seguridad o Prefectura Naval Argentina consideren que existe algún peligro para los nadadores.<br />
    <strong>Reglamento del evento</strong>: Todos los participantes que se inscriben aceptan <a target="_blank" href="https://docs.google.com/document/d/192UftMtWePd0vVKwp8CYLhHlMWYp8fdkhtqq52emj1o/edit?usp=sharing">el reglamento del evento</a>.<br />
    <strong>Deslinde de responsabilidad</strong>: Todos los nadadores firmarán el deslinde de responsabilidad (<a target="_blank" href="https://docs.google.com/document/d/1LqNVBF4SpdpzPPQJjozDlHkSUWnB_89EiJKJG_2XIHA/edit?usp=sharing">Deslinde mayores</a> | <a target="_blank" href="https://docs.google.com/document/d/1suGzrjPDLqI0sh1uLwDkB7IIviA5M3MuNbKiNmppndw/edit?usp=sharing">Deslinde menores</a>).<br />
</p>

<h3 id="categorias">Categorías y recorridos</h3>
<p align="justify">
    El evento cuenta con 5 carreras: para los infantiles una de 400m y otra de 800m; para los adultos una de 1500m, otra de 3800m y la gran carrera de 11km; además tenemos un bautismo de 400m para todas las edades. Se muestra una tabla los detalles de las categorías. Se muestran los recorridos según los colores de la tabla de categorías.<br />

<table style="height: 137px; width: 100%;" border="1">
<thead><tr><td>Nombre carrera</td><td>Costo</td><td>Incluye</td><td>Categorías y premiación (1º, 2º y 3º)</td></tr></thead>
<tbody>
<tr>
    <td style="font-weight: bold; color: black; background-color: #02bcaf;">Carrera adultos 11km</td><td>$4300,00</td><td>Seguro, almuerzo, gorro, medalla finisher y toalla</td>
    <td>General Femenino<br>General Masculino</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: red;">Carrera adultos 3800m</td>
    <td>$2800,00</td>
    <td>Seguro, almuerzo, gorro, y medalla finisher y toalla</td>
    <td>Podio General<br>Femenino: 15-24, 25-34, 35-44, 45-54, 55+<br>Masculino: 15-24, 25-29, 30-34, 35-39, 40-44, 45-49, 50-54, 55+</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: orange;">Carrera adultos 1500m</td>
    <td>$2800,00</td>
    <td>Seguro, almuerzo, gorro, y medalla finisher y toalla</td>
    <td>Podio General<br>Femenino: 15-24, 25-34, 35-44, 45-54, 55+<br>Masculino: 15-24, 25-34, 35-44, 45-54, 55+</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: yellow;">Carrera infantiles 800m</td>
    <td>$1900,00</td>
    <td>Seguro, almuerzo, gorro, y medalla finisher y toalla</td>
    <td>Mixto: 11-12, 13-14</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: green;">Carrera infantiles 400m</td>
    <td>$1900,00</td>
    <td>Seguro, almuerzo, gorro, y medalla finisher y toalla</td>
    <td>Mixto: 9-10, 11-12</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: yellow;">Bautismo 400m</td>
    <td>$1400,00</td>
    <td>Seguro, gorro y medalla finisher</td>
    <td>Todas las edades</td></tr>
<tr><td style="font-weight: bold; color: black; background-color: blue;">Prueba familiar 100m</td>
    <td>$0,00</td>
    <td>Medalla (sin seguro)</td>
    <td>Todas las edades</td></tr>
</tbody>
</table>
<p align="justify">
<!-- <div id="fb-root"></div> <script>(function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/video.php?v=846304095392027" data-width="466"><div class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/video.php?v=846304095392027">Publicación</a> de <a href="https://www.facebook.com/aguasabiertasvillalaangostura">Aguas Abiertas Villa la Angostura</a>.</div></div><br><br> -->
<img src="archivos/2015_recorridos.jpg" style="width: 100%;">
<img src="archivos/recorrido_11km.jpg" style="width: 100%;">
</p>

<h3 id="obligatorio">Requerimientos obligatorios</h3>
<p align="justify">
    <strong>Requerimientos Obligatorios para las carreras y el bautismo de adultos</strong>: Uso de gorra y traje de neoprene (puede ser traje corto). Haber completado la inscripción y tener un número de nadador antes del cierre de la inscripción. Acreditarse con el número de nadador antes de las 10:30 hs. del día de la carrera ¡SEAN PUNTUALES POR FAVOR!<br />
    <br />

    <strong>Recomendaciones útiles (NO obligatorias)</strong>: Llevar carnet de la obra social. Llevar antiparras y silbato para agua. En esta zona nunca se sabe el clima hasta una semana antes así que por las dudas lleven abrigo. Los bautismos pueden ir con aletas, torpedo y/o acompañante (sin embarcación ni kayak)<br />
    <br />
</p>

<h3 id="seguridad">Protocolo de seguridad</h3>
<p align="justify">
    A modo de resúmen del protocolo de seguridad, les contamos que el evento cumple con los estándares de seguridad de la Federación Internacional de Natación (FINA) para eventos de Aguas Abiertas de nivel internacional</strong>, por lo que contará con los siguientes dispositivos de seguridad: 1 coordinador de seguridad, 4 lanchas (1 cada 30 participantes en el agua) con timoneles habilitados, 8 kayaks de salvataje (1 cada 15 participantes en el agua) con kayakistas expertos en socorrismo, 4 kayaks más de observación, 5 socorristas y/o guardavidas distribuidos entre las lanchas y puntos específicos, 1 coordinar médico, 1 médico de base, 3 enfermeras, 2 bomberos expertos en salvataje, 2 ambulancias de alta complejidad, 2 carpas médicas (una abierta para atención rápida y otra cerrada para atenciones más complejas), coordinación con el Hospital Doctor Arraiz (con más ambulancias a disposición), todos los elementos médicos necesarios para una atención rápida, todos los elementos para una eficiente comunicación entre el personal, mantas térmicas suficientes, elementos de salvataje y varios ayudantes.<br /><br />

    Además de la seguridad en la carrera, las planillas de inscripción piden muchos datos médicos, los cuales son procesados por un software para analizar el mapa de riesgo con cada uno de los participantes. Los participantes que mediante estos análisis tengan anotaciones u observaciones especiales, serán evaluados por el equipo médico antes de ingresar al agua.<br /><br />

    Intivamos a cualquiera que esté interesado a contactarse con nosotros para acceder al protocolo completo y/o tener contacto con nuestro coordinador de seguridad.<br /><br />
</p>

<h3 id="mas">Más información</h3>
<p align="justify">
    <strong>Horarios</strong>:<br />
    7:30 Acreditación Carrera 11km<br />
    8:00 Largada Carrera 11km<br />
    9:00 Acreditación general (el resto de las carreras y el bautismo)<br />
    10:30 Cierre de acreditaciones (NO SE ACEPTAN MÁS NADADORES)<br />
    11:00 Carrera infantiles 800m, Carrera infantiles 400m, Bautismo 400m, Prueba familiar 100m<br />
    12:00 Finalización de la carrera de 11km (SE RETIRAN TODOS LOS NADADORES DEL AGUA SIN EXCEPCIÓN)<br />
    12:00 Carrera adultos 3800m: Charla técnica, foto grupal (Nadadores con traje ya puesto), entrada en calor y largada<br />
    12:00 Se abre el comedor para los nadadores de los 11km<br />
    12:40 Carrera adultos 1500m: Charla técnica, foto grupal (Nadadores con traje ya puesto), entrada en calor y largada<br />
    13:00 Se abre el comedor para todos los nadadores<br />
    14:30 Finalización de las dos Carreras (SE RETIRAN TODOS LOS NADADORES DEL AGUA SIN EXCEPCIÓN)<br />
    15:00 Entrega de Premios y tarde de lago en familia<br /><br />

    Las carreras de adultos se realizan juntas con circuitos separados, largando con una diferencia de unos minutos entre cada una, y con una duración máxima de 1:20 hs la de 1500m, 2:30 hs. la de 3800m, 4:00 hs la de 11km. La carrera de infantiles, los bautismos y la prueba familiar se realiza antes de las carreras de adultos y por un circuito diferente, con una duración máxima de 0:30 hs. Una vez transcurrido ese tiempo, los nadadores que no hayan llegado serán retirados del agua SIN EXCEPCIÓN según lo dispuso nuestro coordinador de seguridad.<br /><br />

    <strong>Incluido en el valor de la inscripción</strong>: el permiso para poder participar de la carrera o bautismo correspondiente (el lago permanecerá cerrado y con el acceso cortado a toda persona no inscripta), gorrito, un vale por un almuerzo, medalla para todos los nadadores que completen el recorrido dentro del tiempo máximo, premios para los nadadores de las carreras destacados de cada categoría (1º, 2º y 3º), Seguro de Responsabilidad Civil Comprensiva brindado por Grupo Asegurador La Segunda, Seguro Adicional Personal para cada uno de los nadadores, servicios de alta seguridad, coordinación y musicalización. Además de todo esto, al abonar la inscripción, está colaborando con decenas de chicos que no saben nadar y no tienen los medios para aprender, y que con lo recaudado van a poder disfrutar de este deporte y estar más seguros en los lagos de la zona.<br />
    <br />

    <strong>Para más información</strong>: Si tiene alguna consulta puede ver nuestras <a href="faq">Preguntas Frecuentes</a>. Si no encuentra una respuesta a su consulta, puede escribirnos en nuestro <a href="https://www.facebook.com/aguasabiertasvillalaangostura" target="_blank">Facebook</a> o a nuestro mail <a href="mailto:aguasabiertasvla@gmail.com" target="_blank">aguasabiertasvla@gmail.com</a> que con gusto le responderemos.<br /><br />
    <strong>Inscripción</strong>: La única forma de inscripción es mediante el sistema de inscripción online de <a href="https://www.cronometrajeinstantaneo.com" target="_blank">cronometrajeinstantaneo.com</a>, que es totalmente automático y no intervienen personas en el proceso. Para que usted pueda realizarlo sin problemas, hay varios textos explicativos que le enseñan a usarlo y lo guían en el proceso. Es importante que lea toda la pantalla y siga las instrucciones.</p>
</p>


                                            <footer>
                                                 <a href="http://www.cronometrajeinstantaneo.com/inscripciones/aavla-2020" target="_blank" class="button medium fa fa-arrow-circle-o-right">Inscribite</a>
                                            </footer>

                                        </section>
                                    </div>
                                </div>
                            </section>

                    </div>
                </div>
