<header class="major">
    <h2>Calendario Patagónico de Aguas Abiertas</h2>
    <span class="byline">Les pasamos un listado de carreras de colegas de la zona</span>
</header>

<table>
    <thead>
        <tr>
            <td>Fecha</td>
            <td>Evento</td>
            <td>Contacto</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>24 de Enero</td>
            <td>Desafío Lago Nahuel Huapi</td>
            <td>Informes en Facebook del evento</td>
        </tr>
        <tr>
            <td>24 de Enero</td>
            <td>Centinela – Puerto Octay. Chile</td>
            <td>Web CONQUISTACHILE.CL info@conquistachile.cl</td>
        </tr>
        <tr>
            <td>30 de Enero</td>
            <td>Desafío Lago Mari Menuco</td>
            <td>Informes en Facebook del evento</td>
        </tr>
        <tr>
            <td>6 y 7 de Febrero</td>
            <td>La patagones Viedma</td>
            <td>Informes en weblapatagonesviedma.com</td>
        </tr>
        <tr>
            <td>13 de Febrero</td>
            <td>Campeonato de aguas abiertas- tercera fecha – puerto madryn</td>
            <td>Informes: coordinación_iv@hotmail.com</td>
        </tr>
        <tr>
            <td>14 de Febrero 2016</td>
            <td>Aguas Abiertas Lago Gutierrez</td>
            <td>Informes en Facebook</td>
        </tr>
        <tr>
            <td>20 de Febrero</td>
            <td>Campeonato de aguas abiertas- cuarta fecha – playa unión</td>
            <td>Informes: coordinación_iv@hotmail.com</td>
        </tr>
        <tr>
            <td>20 de Febrero</td>
            <td>Aguas Abiertas Villa la Angostura se realizara en Lago Espejo</td>
            <td>Informes e inscripción en la web aavla.com.ar</td>
        </tr>
        <tr>
            <td>6 de Marzo</td>
            <td>La maragata Maratón acuática, 2 distancias sobre el Rio Negro,<br>
            lugar Carmen de Patagones, Pcia de Buenos Aires</td>
            <td>Informes en Facebook</td>
        </tr>
        <tr>
            <td>12 de Marzo</td>
            <td>Cruce del Nahuel Huapi Enriqueta Duarte</td>
            <td>En Facebook Cruce a Nado del Nahuel Huapi</td>
        </tr>
        <tr>
            <td>12 de Marzo</td>
            <td>Travesia Magagna – Playa Union Edicion XX – 5500 mt</td>
            <td>Informes: coordinación_iv@hotmail.com</td>
        </tr>
    </tbody>
</table>

<p align="justify">
    También en marzo pero aún sin fecha confirmada se realizara la Maratón acuática Plottier Neuquén (por el Rio Limay). Informes en Facebook de Agn Nqn.<br>
    Desafío Nonthue, los organizadores confirman que no realizaran la edición 2016. <br>
    28 de Febrero Desafio Lago Chocon, SUSPENDIDO web annadar.com.ar<br>
    Cruce a Nado del Lago Lacar (cruce más antiguo de la Patagonia). Sábado 13 de Febrero. Desde el Año pasado se pasó la organización al Club Náutico San Martín de los Andes. SUSPENDIDO<br>
    Aun sin mayor información: 10/1 Aguas abiertas en Comodoro, 17/1 Acuatlon en Comodoro Rivadavia.<br>
</p>
