<header class="major">
    <h2>Calendario Patagónico de Aguas Abiertas</h2>
    <span class="byline">Les pasamos un listado de carreras de colegas de la zona</span>
</header>

<p>
    <strong>20 de Noviembre 2016</strong>: Desafío Lago del Desierto"SOBERANÍA Y COMUNIDAD", EL CHALTÉN SANTA CRUZ<br>
    <strong>18 de Diciembre 2016</strong>: Prueba de Natación de Aguas Abiertas "Desafío al Canal Grande". General Roca. Rio Negro. Leer más: http://desafioalcanal.webnode.com/ masterdelprogreso@gmail.com<br>
    <strong>21 de Enero</strong>: Desafío lago Alumine, <a href="mailto:desafioalumine@gmail.com">desafioalumine@gmail.com</a><br>
    <strong>28 de Enero</strong>: Desafío Nonthue (san martín de los andes) http://www.natacionnonthue.com.ar/<br>
    <strong>29 de Enero</strong>: Desafío puerto Octay (chile, puerto octay) http://www.conquistachile.cl/<br>
    <strong>4 de Febrero</strong>: Desafío lago Mari Menuco (Neuquén) <a href="http://desafiomarimenuco.wix.com">desafiomarimenuco.wix.com</a><br>
    <strong>5 de Febrero</strong>: Desafío puerto patriada Puerto Patriada El Hoyo Chubut. Celular: +54 9 294 4835954<br>
    <strong>11 de Febrero</strong>: Desafío lago Gutiérrez (Bariloche). http://aguasabiertaslagogutierrez.webnode.com.ar/<br>
    <strong>15 y 16 de Febrero</strong>: Campus de entrenamiento en Lago Espejo Villa la Angostura a cargo de Noelia Petti. En breve mas info<br>
    <strong>18 de Febrero</strong>: Aguas Abiertas Villa la Angostura - Lago Espejo | Inscripciones abiertas!!<br>
    <strong>19 de Febrero</strong>: Desafío Bahia Mansa, san juan de la costa, océano pacifico. Chile. http://www.conquistachile.cl/<br>
    <strong>25 y 26 de Febrero</strong>: en el Lago Moreno Bariloche. En breve mas info<br>
</p>

<p>
Nos pone muy felices ver que el deporte crece!!, vamos agregando info conforme nos enteramos, sabemos que hay eventos en comodoro y mas en chubut...ampliaremos
</p>
