<h3 id="basica">1° Clínica de Natación en Aguas Abiertas - Noelia Petti</h3>
<p align="center">
Será los días Viernes 9 o Sábado 10 de Septiembre de 2016 de 10 a 13 hs. y de 15 a 18 hs.<br>
(La clínica es de un día, hay dos fechas para que elijas y nadie se quede afuera)<br><br>
<u>Teórico-Práctico (apta para todo nivel)</u><br>
<ul>
<li>3 hs. practicas (10 a 13hs) y 3 hs. teóricas (15 a 18hs)</li>
<li>Lugar: Natatorio Génesis y Bodegón Chingolo</li>
<li>Villa la Angostura</li>
</ul>
<br>
<u>Contenidos de la clínica:</u>
<ul>
<li>Experiencia personal como nadadora internacional aguas abiertas.</li>
<li>Entrenamiento para aguas abiertas.</li>
<li>Trabajos técnicos y de corrección sobre el estilo crol.</li>
<li>Cruce del Río de la Plata 2014.</li>
</ul>
<br>
<strong>
Costo de Inscripción: Sábado $900 o Viernes $750<br>
Cupos limitados
</strong>
</p>
<!-- <img src="images/inicio1.jpg" style="width: 100%">

<img src="images/inicio2.jpg" style="width: 100%">

<img src="images/inicio3.jpg" style="width: 100%"> -->

<footer>
     <a href="http://www.cronometrajeinstantaneo.com/inscripciones/clinica-noelia-petti" target="_blank" class="button medium fa fa-arrow-circle-o-right">Inscribite</a>
</footer>
