<header class="major">
    <h2>Preguntas Frecuentes</h2>
    <span class="byline">Para ahorra tiempos de consultas y respetar el tiempo de todos, hemos creado un artículo con las Preguntas Frecuentes sobre las dudas más comunes de nuestros eventos. Antes de enviarnos un mail o un mensaje de Facebook, revise si ya ha sido contestada. Si no la encuentra, con gusto le responderemos.
    </span>
</header>

<p>
<!--
<strong>¿Cómo se pueden realizar pagos para inscripciones?</strong><br />
Mediante transferencias a la caja de ahorro en pesos de la ONG:<br>
Titular: HERRERA NATALIA MARIA<br>
CBU N°: 0170234940000000522353<br>
CUIT: 27-24662330-4<br>

Una vez realizado el pago, enviar el comprobante al mail <a href="mailto:aguasabiertasvla@gmail.com">aguasabiertasvla@gmail.com</a> especificando el nombre y el apellido del nadador. Si su banco lo permite, colocar como identificador de la transferencia al apellido del nadador.
<br /><br /> -->

<!-- El pago se puede realizar mediante varias formas: PagoFácil, RapiPago, transferencias bancarias, Visa, Mastercard, Tarjeta Naranja y varios métodos más. Durante la inscripción, al presionar el botón de Pagar le ofrecerá todas las opciones. No se aceptan pagos en efectivo. Por una cuestión de claridad económica, la organización decidió que el único método de pago es a través de nuestro sitio web con las herramientas de MercadoPago.
 <br /><br /> -->
<!-- <strong>¿Tengo un recargo por utilizar algún método de pago?</strong><br />
Si usted hace el pago con tarjeta de crédito entre 2 y 18 cuotas, tendrá un interés adicional mensual en su resumen. El mismo es el aplicado por la empresa MercadoPago y no por nosotros. Los intereses le serán especificados al momento de seleccionar la cantidad de cuotas. Con cualquiera de los otros métodos de pago, no hay ningún interés aplicable.
<br /><br /> -->
<strong>¿Hay descuento por varios nadadores?</strong><br />
Hay descuentos para grupos de 5 nadadores o más que no participen en la carrera de los 11km. Para poder aprovechar el descuento se tienen que inscribir (con pago ya realizado) 4 de los 5 nadadores y pre-inscribir (formulario completo pero sin pagar) el 5°, y luego enviarnos un mail con los nombres de los 5 nadadores y nosostros le aplicamos el pago al este último.
<br /><br />
<!-- <strong>Ya estoy aprobado para participar en los 11km, ¿Cómo hago para pagar la inscripción?</strong><br />
Una vez que estén aprobadas las fichas médicas y deportivas para participar en los 11km, hay que realizar un pago con alguno de los siguientes botones de pago (¡POR FAVOR NO REALICE EL PAGO ANTES DE ESTAR APROBADO PARA PARTICIPAR!):<br />
<a href="http://mpago.la/TZQb">PAGAR AAVLA 2018 11km con acompañante a cargo del participante ($2500)</a><br />
<a href="http://mpago.la/m1Od">PAGAR AAVLA 2018 11km con acompañante a cargo de AAVLA ($3000)</a><br />
<br /><br /> -->
<!-- <strong>¿Por qué solo 11 nadadores en la prueba de 11km?</strong><br >
Por tratarse de la primera edición queremos que la prueba se desarrolle de una manera segura, y con características que Noelia Petti propuso de acuerdo a su experiencia en competencias internacionales FINA, por ejemplo bote acompañante.
<br /><br /> -->
<!-- <strong>Perdí el mail con los botones de pago, ¿Dónde los puedo conseguir?</strong><br />
Los botones de pago son los siguientes (recordá usar el mismo mail con el que te inscribiste):<br>
EL BOTÓN DE PAGO PARA AAVLA 2018 Carrera adultos 11k: Será enviado una vez aprobada la participación<br />
<a href="http://mpago.la/d6Lw">PAGAR AAVLA 2018 Carrera adultos 3800m</a><br />
<a href="http://mpago.la/jmNt">PAGAR AAVLA 2018 Carrera adultos 1500m</a><br />
<a href="http://mpago.la/gBPy">PAGAR AAVLA 2018 Carrera infantiles 800m</a><br />
<a href="http://mpago.la/GfO6">PAGAR AAVLA 2018 Carrera infantiles 400m</a><br />
<a href="http://mpago.la/Acxd">PAGAR AAVLA 2018 Bautismo 600m</a><br />
<a href="http://mpago.la/pZk6">PAGAR CAMPUS 2018 (Participante de AAVLA 2018)</a><br />
<a href="http://mpago.la/mZz5">PAGAR CAMPUS 2018 (No participante de AAVLA 2018)</a>
<br /><br /> -->
<strong>¿Qué pasa si se supera el cupo máximo de nadadores?</strong><br />
Si se supera el cupo máximo de nadadores, se anotarán en lista de espera los próximos. Para el Grupo AAVLA LA SEGURIDAD EN EL AGUA ES PRIMORDIAL, por lo que tenemos un departamento con varios profesionales dedicados a la seguridad de nuestros eventos. El protocolo de Seguridad de cada uno de ellos está orientando a una cantidad de nadadores y por ninguna excepción se sobrepasará ese límite.
<br /><br />
<strong>¿Porqué es tan complicada la ficha de inscripción y porque me piden tantos datos?</strong><br />
Para el Grupo AAVLA LA SEGURIDAD EN EL AGUA ES PRIMORDIAL, y dentro de ella se encuentra el mapa de riesgo y el análisis cuidadoso de los antecedentes médicos de cada uno de los participantes. Lo que a usted le puede llevar 5 minutos completar, puede ser vital para el grupo de médicos en el momento de su atención médica. Creemos que es mucho más útil trabajar cuidando y tratando a nadadores que conocemos medicamente, a tener un certificado de algún médico que no nos brinda ninguna información real (Es por eso que no pedimos certificado médico). Si no conoce alguno de los datos que solicitamos, le recomendamos visitar una farmacia o médico para poder obtenerlo.
<br /><br />
<strong>¿Cuánto tiempo debo esperar una vez realizados los pasos de la inscripción?</strong><br />
Revisamos las transferencias manualmente y puede demorar hasta una semana para que la administración de AAVLA cargue el pago en el sistema de inscripción. Si usted ya realizó el pago, no se preocupe y tenga paciencia que dentro de la primera semana recibirá un email automático con la confirmación de la inscripción y el número de nadador.
<br /><br />
<strong>¿Puedo llevar una embarcación de apoyo propia?</strong><br />
Si desea llevar una embarcación (kayak, sit-on-top o sup) debe dar aviso a la organización para poder evaluarlo. Si la organización lo considera pertinente,  podrá integrar la flota de seguridad y deberá seguir las directivas del jefe de seguridad. No se permitirá embarcación a motor.<br />
Entendemos que tal vez desea acompañar a su nadador amigo pero tenga en cuenta que al hacer esto, está perjudicando la seguridad de otros nadadores. No genere malos momentos o situaciones que interfiera con el desarrollo de la organización durante la carrera.
<br /><br />
<strong>¿Tienen algún lugar de referencia para alojarme en Villa la Angostura?</strong><br />
Lo mejor es que se comunique con la Dirección de Turismo de Villa la Angostura (<a href="http://www.villalaangostura.gov.ar" target="_blank">www.villalaangostura.gov.ar</a>) o con la Asociación de Hoteles y Restaurantes (<a href="http://www.visiteangostura.com" target="_blank">www.visiteangostura.com</a>), que tienen la información más completa sobre disponibilidad y precios. Nosotros recomendamos a <a href="http://www.marinasaltomanzano.com.ar" target="_blank">Marinas Alto Manzano</a>, que es patrocinador de este evento y uno de los establecimientos más reconocidos de Villa la Angostura por su excelencia. Los datos de la Dirección de Turismo de Villa la Angostura son:
Más información de la oficina de Turismo:
Facebook: <a href="https://www.facebook.com/villalaangosturaturismo" target="_blank">www.facebook.com/villalaangosturaturismo</a>,
Dirección: Avenida 7 Lagos 93 (Villa la Angostura, Neuquén, Argentina),
Teléfono: (02944) 494-124,
E mail: turismo@villalaangostura.gov.ar - sturismo@villalaangostura.gov.ar
<br /><br />
<!-- <strong>¿Hay algún problema para los nadadores y/o los espectadores, derivado de la erupción del Volcán Puyehue del 04/06/2011?</strong><br />
No hay ningún problema por las cenizas en el lago o en el ambiente.
<br /><br /> -->
<strong>¿Cómo llego hasta el Lago Espejo y al Lago Correntoso?</strong><br />
La entrada al Lago Espejo se encuentra sobre la famosa Ruta de los 7 Lagos, a tan solo 1 Km de la unión con la Ruta Provincial 231 que viene de Villa la Angostura y va hasta el Paso Internacional Cardenal Samoré a Chile. Para llegar a la Ruta de los 7 Lagos hay mucha información en Internet y puede consultar en la Dirección de Turismo de cualquier localidad cercana. Una vez en ella, si viene desde Villa la Angostura verá la entrada de su mano izquierda y si viene desde San Martín de los Andes verá la entrada de su mano derecha. La misma va a estar señalizada.

La entrada al Lago Correntoso se encuentra sobra la Ruta Provincial 231 a unos 2 Km del centro de Villa la Angostura en dirección a Chile, a unos 200 metros del famoso puente del Río Correntoso. Es muy fácil de ubicar y está muy bien señalizada.

Para los eventos en otros lagos y playas, puede consultar en la Dirección de Turismo de Villa la Angostura la ubicación de los mismos.
<br /><br />
<strong>¿Dónde se puede comer durante el evento?</strong><br />
Junto con la inscripción, cada nadador tiene un almuerzo al salir del agua. Para los acompañantes, hay una proveeduría abierta todo el día en la misma playa del lago del evento.
<br /><br />
<strong>¿Cómo puedo colaborar con el grupo Aguas Abiertas Villa la Angostura?</strong><br />
Hay muchas formas de colaborar con nosotros. Si está interesado, escríbanos en nuestro <a href="//facebook.com/aguasabiertasvillalaangostura" target="_blank">Facebook</a>
<br /><br />
<strong>¿Cómo me pongo en contacto con la organización?</strong><br />
Tenemos nuestro mail <a href="mailto:aguasabiertasvla@gmail.com">aguasabiertasvla@gmail.com</a> que es revisado varias veces por semana, nuestra página de <a href="//www.facebook.com/aguasabiertasvillalaangostura" target="_blank">Facebook</a> y nuestra cuenta de <a href="//www.instagram.com/aguasabiertasvla" target="_blank">Instagram</a>.
<br /><br />
</p>
