
                                    <h2>Nuestros comienzos</h2>
                                        <p>En el verano del 2007, Marcelo Liviero regresando a Villa La Angostura luego de una competencia de aguas abiertas en España, motivado por la falta de este tipo de actividades en nuestra localidad, pero sumándole un fin totalmente solidario, le propone a la profesora Paula Ammi, y a su compañero de waterpolo Andrés Misiak, crear una fundación sin fines de lucro, con el propósito de realizar eventos deportivos en aguas abiertas, disfrutar y promover la natación en nuestros lagos, e incrementar la seguridad en los mismos.</p>

                                        <p>El Dr. Andrés Sandoval, en un gesto desinteresado, se suma al proyecto poniendo a su cargo la seguridad del evento, y a partir de allí, se comienza a trabajar con los roles de Director de la competencia Andrés Misiak, seguridad a cargo de Andrés Sandoval, colaborando con la organización y promoción Paula Ammi, y en la búsqueda de Sponsors para solventar los eventos, Marcelo Liviero quien se toma ese día una licencia para poder competir.</p>

                                        <p>El primer evento se desarrolla en marzo del 2008 con 65 nadadores en las aguas del Lago Correntoso, enfrentando una tempestad y con la incertidumbre de muchos de conseguir entusiastas para esta diciplina.</p>

                                        <p>Con el paso del tiempo fueron innumerables los Colaboradores y Organizadores que se sumaron para hacer crecer el proyecto y los beneficios que se otorgaron a través de nuestros proyectos solidarios, en especial los programas de becas de natación, a tal punto que nuestra problemática hoy es limitar el número de participantes.</p>

                                    <h2>Nuestros principios </h2>
                                        <p>Desde un comienzo, el grupo se basa en 3 principios. Creemos en el deporte como un estilo de vida y transmitimos nuestra pasión mediante el ejemplo. Destinamos todos nuestros esfuerzos y todo lo que recaudamos, en causas que ayuden a cumplir estos principios.</p>

                                <div class="row">
                                    <div class="4u">
                                        <section>
                                            <span class="image image-full"><img src="images/pic01.jpg" alt="" /></span>
                                            <header class="second fa fa-user">
                                                <h3>Disfrutar</h3>
                                                <span class="byline">TODOS de la natación</span>
                                            </header>
                                        </section>
                                    </div>
                                    <div class="4u">
                                        <section>
                                            <span class="image image-full"><img src="images/pic02.jpg" alt="" /></span>
                                            <header class="second fa fa-cog">
                                                <h3>Promocionar</h3>
                                                <span class="byline">este apasionante deporte</span>
                                            </header>
                                        </section>
                                    </div>
                                    <div class="4u">
                                        <section>
                                            <span class="image image-full"><img src="images/pic03.jpg" alt="" /></span>
                                            <header class="second fa fa-bar-chart-o">
                                                <h3>Aumentar</h3>
                                                <span class="byline">la Seguridad de la natación</span>
                                            </header>
                                        </section>
                                    </div>
                                </div>
