
<div class="main-wrapper-style2" id="presentacion">
    <div class="inner">

<!-- Feature 2 -->
        <section class="container box-feature2">
            <div class="row">

                <div class="12u text-center">
                    <h2>¡Y vivimos otro hermoso día en AAVLA 2022!</h2>
                    <a href="https://cronometrajeinstantaneo.com/resultados/aavla-2022/generales" target="_blank" class="button medium fa fa-arrow-circle-o-right">Resultados Generales</a><br><br>
                    <a href="https://cronometrajeinstantaneo.com/resultados/aavla-2022/categorias" target="_blank" class="button medium fa fa-arrow-circle-o-right">Resultados por Categorías</a><br><br>

                    <h2>Así se vivió AAVLA 2022</h2>

                    <div style="width: 100%; text-align: center;">
                        <div class="responsive-video">
                            <iframe src="https://www.youtube.com/embed/7V40UEEykM8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <!-- <h2>Inscripciones CERRADAS por CUPO COMPLETO</h2> -->
                    <!-- <a href="https://cronometrajeinstantaneo.com/inscripciones/aavla-2022" target="_blank" class="button medium fa fa-arrow-circle-o-right">Inscripciones</a><br><br> -->
                    <!-- <div class="image image-full"><img  src="images/aavla2022.jpg" alt="Afiche AAVLA 2022" /></div> -->
                </div>
                <!-- <div class="6u">
                    <h2>También tenemos el 5° Campus de Noelia Petti</h2>
                    <a href="mailto:noepetti@yahoo.com.ar" target="_blank" class="button medium fa fa-arrow-circle-o-right">Mail a Noelia</a><br><br>
                    <div class="image image-full"><img  src="images/campus2020.jpg" alt="Campus Noelia 2020" /></div>
                </div> -->
                <!-- </div> -->
            </div>
        </section>

        <br>
        <hr>
        <br>

        <div style="width: 100%; text-align: center;">
            <h2>También te mostramos algunos vídeos de años anteriores que te pueden gustar</h2>
        </div>

        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/c7E01H1W0m0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="responsive-video">
            <iframe src="https://player.vimeo.com/video/158744216?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <br><br>
        <div class="responsive-video">
            <iframe src="https://www.youtube.com/embed/h8j53jiM8cE?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
</div>
