<header class="major">
    <h2>Información para socios y organizadores</h2>
    <span class="byline">Para ahorra tiempos de consultas y respetar el tiempo de todos, pongo todo tipo de información en esta página. La información que es para nadadores va en <a href="faq">Preguntas frecuentes</a>
    </span>
</header>

<p>
<strong>PROYECTOS EN MARCHA</strong><br />
<ul>
    <li>Carrera de Aguas Abiertas Lago Espejo – Correntoso (10 edicion!)</li>
    <li>Becas de natación, este año acompañamos al proyecto del CEF y becamos a los niños del hogar Aurora</li>
    <li>Escuela de canotaje, ya compramos algunos cayacs, desde provincia se avala el proyecto, pendiente resolver algunas cuestiones logísticas locales para avanzar</li>
    <li>Playas accesibles, proyecto del grupo de guardavidas locales, al cual acompañamos</li>
    <li>Waterpolo, facilitamos todos los elementos necesarios para la practica y acompañamos al instructor lebed en su desarrollo</li>
    <li>Natación en aguas abiertas, recientemente organizamos una clínica teorico practica en la localidad y la idea es repetir este tipo de actividades</li>
    <li>Iniciación en nado en aguas abiertas, hemos adquirido trajes de neopreno, los cuales se prestan a niños y adultos que desean experimentar la actividad, bajo la guía del instructor lebed y grupo AAVLA</li>
    <li>Entrenamiento competitivo en pileta, venimos apoyando este trabajo con elementos y facilitando pasajes para los viajes.</li>
    <li>Clínica de roll en cayac, el año pasado realizamos 3 jornadas y esperamos este año repetirlas, las mismas fueron de carácter gratuito.</li>
</ul>
<br /><br />
</p>

<p>
<strong>LISTA DE PROYECTO</strong><br />
<ul>
    <li>COMPLETAR...</li>
</ul>
<br /><br />
</p>

